{% extends "layout.twig" %}

{% block content %}
<aside id="main-sidebar" class="col-sm-4 col-md-3 col-lg-2 d-none d-sm-block">
  <ul id="function-list">
    {% for function in functions %}
      <li class="function-link"><a href="#{{ function.name }}">{{ function.name }}</a></li>
    {% endfor %}
  </ul>
</aside>
<main id="function-entries" class="col-12 col-sm-8 col-md-9 col-lg-10">
  {% for function in functions %}
    <article id="{{ function.name }}" class="function-entry">
      <h2 class="function-name">{{ function.name }}</h2>
      {% for lang, text in function.description %}
        <p class="function-description i18n" lang="{{ lang }}">{{ text | raw }}</p>
      {% endfor %}
      <pre class="function-signature"><code class="scala">{{ function.signature | raw }}</code></pre>
      <section class="function-figure-wrapper">
        {% if not function.figures or function.figures | length == 1 %}
          <figure class="function-figure">
            <img src="images/{{ function.name }}.svg" alt="" />
            {% for figure in function.figures %}
              {% for lang, text in figure %}
                <figcaption class="function-figure-caption i18n" lang="{{ lang }}">{{ text | raw }}</figcaption>
              {% endfor %}
            {% endfor %}
          </figure>
        {% else %}
          {% for figure in function.figures %}
            <figure class="function-figure">
              <img src="images/{{function.name}}.{{ loop.index }}.svg" alt="" />
              {% for lang, text in figure %}
                <figcaption class="function-figure-caption i18n" lang="{{ lang }}">{{ text | raw }}</figcaption>
              {% endfor %}
            </figure>
          {% endfor %}
        {% endif %}
      </section>
    </article>
  {% endfor %}
</main>
{% endblock %}
