{% extends "layout.twig" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <aside id="main-aside" class="col-2">
      <ul id="function-list">
        {% for function in functions %}
          <li class="function-link"><a href="#{{ function.name }}">{{ function.name }}</a></li>
        {% endfor %}
      </ul>
    </aside>
    <main class="col-10">
      {% for function in functions %}
        <article id="{{ function.name }}" class="function-entry">
          <h2 class="function-name">{{ function.name }}</h2>
          <p><pre><code>{{ function.signature | raw }}</code></pre></p>
          <img src="images/{{ function.name }}.svg" alt="" />
        </article>
      {% endfor %}
    </main>
  </div>
</div>
{% endblock %}
